$baseSize: 18px;

.butterfly {
    position: absolute;

    display: flex;
    width: 100px;
    height: 100px;

    justify-content: center;
    align-items: center;

    border: 1px solid red;

    transform: scale(0.2);

    cursor: pointer;
    transform-style: preserve-3d;
    filter: drop-shadow(0 20px 5px rgba(0, 0, 0, 0.5));
}

#butterfly-1 {
    top: -40px;
    left: -40px;

    animation: move 50s ease-in-out;

    /* transform: rotateZ(90deg) scale(0.2); */
    offset-path: path(
        'M50 50C50 50 233.03 160.5 376.03 185.5C519.03 210.5 659.03 234.5 1065.53 298C1472.03 361.5 1418.53 396.5 1534.03 484.5C1649.53 572.5 1771.03 589.5 1607.53 736C1444.03 882.5 1487.53 841 1284.53 1018.5C1081.53 1196 1027.53 1120.5 715.53 1002C403.53 883.5 -16.9704 728 -209.97 652C-402.97 576 -312.97 201 -271.72 -10.75C-230.47 -222.5 -91 -52.5 -91 -52.5L50 50'
    );
}

#butterfly-2 {
    top: -16px;
    left: -16px;

    animation: move 50s ease-in-out;
    offset-path: path(
        'M50 50C50 50 62.5 31 85.5 -5.5C108.5 -42 254 -23 282.5 -5.5C311 12 459 30.5 518 19.5C577 8.5 825.501 -130 893.501 -12.5C961.501 105 1399.5 -104 1457.5 -63.5C1515.5 -23 1330 186.5 1488.5 254.5C1647 322.5 1417.5 594 1261 768C1104.5 942 1081 455 911 427.5C741 400 548 523 367 412.5C186 302 -108 515 -133 397.5C-158 280 -25 139 -25 139L50 50'
    );
}

#butterfly-3 {
    top: 10px;
    left: -36px;

    /* offset-path: path(""); */

    /* animation: move 40s linear; */
}

#butterfly-4 {
    top: -40px;
    right: -40px;

    /* offset-path: path(""); */

    /* animation: move 40s linear; */
}

#butterfly-5 {
    top: -16px;
    right: -16px;

    /* offset-path: path(""); */

    /* animation: move 40s linear; */
}

#butterfly-6 {
    top: 10px;
    right: -36px;

    /* offset-path: path(""); */

    /* animation: move 40s linear; */
}

/* #butterfly-1 .butterfly__body::before, */

/* #butterfly-1 .butterfly__body::after { */

/*    animation-delay: 2s; */

/* } */

/* #butterfly-2 .butterfly__body::before, */

/* #butterfly-2 .butterfly__body::after { */

/*    animation-delay: 4s; */

/* } */

/* #butterfly-3 .butterfly__body::before, */

/* #butterfly-3 .butterfly__body::after { */

/*    animation-delay: 6s; */

/* } */

/* #butterfly-4 .butterfly__body::before, */

/* #butterfly-4 .butterfly__body::after { */

/*    animation-delay: 1s; */

/* } */

/* #butterfly-5 .butterfly__body::before, */

/* #butterfly-5 .butterfly__body::after { */

/*    animation-delay: 3s; */

/* } */

/* #butterfly-6 .butterfly__body::before, */

/* #butterfly-6 .butterfly__body::after { */

/*    animation-delay: 5s; */

/* } */

@keyframes move {
    to {
        offset-distance: 100%;
    }
}

.butterfly__body {
    position: relative;
    top: 0;

    width: calc(2 * $baseSize);
    height: calc(8 * $baseSize);
    margin: 0 auto;

    background-image: url('https://assets.codepen.io/2273448/butterfly-body.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    transform: rotateX(25deg) rotateY(5deg) rotateZ(90deg);
    transform-style: preserve-3d;
}

.butterfly__body::before,
.butterfly__body::after {
    content: '';

    position: absolute;
    top: 5%;

    width: 250%;
    height: 100%;
    margin: auto;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform-style: preserve-3d;
}

.butterfly__body::before {
    right: 55%;

    background-image: url('https://assets.codepen.io/2273448/butterfly-wing-l.png');

    transform-origin: 100% 50%;
    animation: wing-left 0.6s infinite ease-out;
}

.butterfly__body::after {
    left: 55%;

    background-image: url('https://assets.codepen.io/2273448/butterfly-wing.png');

    transform-origin: 0 50%;
    animation: wing-right 0.6s infinite ease-out;
}

.butterfly:hover .butterfly__body::before,
.butterfly:hover .butterfly__body::after {
    animation-duration: 0.6s;
}

@keyframes wing-left {
    0%,
    100% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(70deg);
    }
}

@keyframes wing-right {
    0%,
    100% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(-40deg);
    }
}
